/* klava-nevinovata Colors */

:root {
  --color-text: #2a2419;
  --color-background: #f9f5eb;
  --color-background-ui: #b9751c;
  --color-logo-primary: #c4791b;
  --color-mid-gray: #8a7f6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ede4cf;
    --color-background: #262019;
    --color-background-ui: #c4791b;
    --color-logo-primary: #e3a33c;
  }
}
